html {
    background-color: #eee;
    background-image: url('images/background.png');
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.7em;
}
div.universe {
    position: relative;
    font-size: 18px;
    font-weight: 200;
    background-color: #fff;
    width: 900px;
    padding: 10px 20px;
    margin: 20px auto;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}
li {
}
li img {
    position: relative;
    top: 11px;
    margin-right: 5px;
}
ul {
    list-style: none;
}
p {
    padding: 0;
}
h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 200;
    margin-top: 10px;
}
h1 img {
    vertical-align: middle; 
    margin-right: 10px;
}
#header h2 {
    color: #fff;
    opacity: 0.6;
    font-weight: 200;
}
.universe h2 {
    font-size: 30px;
    font-weight: 300;
}
h1, h2, h3 {
    font-weight: normal;
}
div.cube {
    border: 0;
    width: 100px;
    height: 110px;
    display: block;
    margin: auto;
}
.cube iframe {
    border: 0;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: scale(0.7);
}
.cube iframe:hover {
    -webkit-transform: scale(1);
}
.cube-loading {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}
h1, h2 {
    padding: 20px 0 0 0;
}
h2:first-child {
    padding-top: 0;
}
a, a:active, a:visited {
    color: #0063dc;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
h2:before {
    content: ' ';

    background: -moz-linear-gradient(left,  rgba(204,204,204,0) 0%, rgba(204,204,204,1) 50%, rgba(204,204,204,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,0)), color-stop(50%,rgba(204,204,204,1)), color-stop(100%,rgba(204,204,204,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(204,204,204,0) 0%,rgba(204,204,204,1) 50%,rgba(204,204,204,0) 100%); /* W3C */

    width: 100%;
    height: 1px;
    display: block;
    margin-bottom: 15px;
    z-index: 1;
}
h2:first-child:before {
    content: none;
    display: none;
}
#footer, #header {
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: #ccc;
    border-top: 1px solid #999;
}
#header {
    padding-bottom
}
#footer a {
    color: white;
}
.block {
    width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
}
.faces {
    margin: 0 auto 30px auto;
    text-align: center;
    padding: 0;
    width: 480px;
}
.faces img {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 200px;
    margin: 0 20px;
}
.faces:after {
    content: "";
    display: table;
    clear: both;
}
